@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 768px) {
    .bg_h {
        background-image: url("../images/background img_2.jpg");
    }

    header {
        background-color: rgb(36, 47, 53);
        opacity: 0.702;
        padding-bottom: 14px;
        border-right: black solid 88px;
    }

    header .main span {
        color: transparent;
    }

    header .main i {
        font-size: 25px;
        position: relative;
        left: 105px;

    }

    h1{
        font-size: 95px;
    }

    .portfolio{
        padding-top: 155px;
    }

    .portfolio h6{
        font-size: 28px;
    }

    .portfolio h3{
        font-size: 90px;
    }

    .portfolio p{
        font-size: 29px;
        margin-bottom: 70px;
    }

    .portfolio a{
        font-size: 27px;
        margin-bottom: 300px;
    }


    .foto img{
     min-width: 750px;

    }

    .people .item{
        margin: auto;
    }

    .people .item img {
        min-width: 678px;
        margin-top: 50px;
    }

    .people .item div {
        min-width: 678px;
    }

    .last_post h6{
        font-size: 28px;
    }

    .last_post h3{
        font-size: 90px;
        margin-bottom: 80px;
        margin-left: 25px;
        margin-right: 25px;
    }


    .last_post .lens{
        display: block;
    }

    .last_post .one img{
        min-width: 680px;
        margin-left: 35px;
    }

    .last_post .nout{
        min-width: 680px;
        margin-left: 35px;
        padding: 80px;

    }

    .last_post .nout h4{
        font-size: 28px;
    }

    .last_post .nout h5{
        font-size: 60px;
    }

    .last_post .nout p{
        font-size: 29px;
        line-height: 50px;
    }

    .last_post .nout a{
        font-size: 29px;

    }

    .last_post .blog a{
        font-size: 30px;
        margin-bottom: 200px;
    }

    .contact h6{
        font-size: 28px;
    }

    .contact h3{
        font-size: 90px;
        margin-bottom: 50px;
    }

   .contact .map{
       max-width: 680px;
       height: 300px;
   }

    .contact_text{
        max-width: 680px;
        line-height: 45px;
        padding-bottom: 75px;
    }

    .contact_text div{
        margin: 0 15px;
    }


    .contact_text div h6{
        font-size: 28px;
        margin-bottom: 75px;
    }




    .contact_text div span{
        font-size: 30px;
    }

    .contact_text div{
        max-width: 280px;
        text-align: center;
    }

    footer div{
flex-wrap: wrap;
    }

    footer .mardg{
        margin-right:200px;
    }
}




@media only screen and (max-width: 420px) {

}

@media only screen and (max-width: 375px) {

}

@media only screen and (max-width: 360px) {

}

@media only screen and (max-width: 320px) {

}







